.Scene {} .Scene button.on {
    background-color: #46ca5e;
    color: white;
    box-shadow: none;
}
.Scene button.active {
    -webkit-animation: animation-active 1000ms linear both;
    animation: animation-active 1000ms linear both;
}
.Scene section {
    float: left;
    min-width:248px;
    max-width:248px;}
.Scene section .groupActivator {
    float: left;
}
.Scene section button {
    height: 120px;
    width: 120px;
    border-radius: 4px;
    color: #2087fc;
    background: transparent;
    border: 0;
    box-shadow: inset 0 0 0 1px #2087fc;
    position: relative;
    margin: 2px 2px 2px 2px;
    float: left;
}
.Scene section button > span {
    position: absolute;
    left: 5px;
    bottom: 5px;
}
/*
.Scene section button:active {
    background-color: blue;
    -webkit-animation: animation-active 1000ms linear both;
    animation: animation-active 1000ms linear both;
}
*/

.Scene section button > i {
    position: relative;
    top: -10px;
}
.Scene section > section {
    min-width:124px;
    max-width:124px;}
.Scene section > section button {
    height: 58px;
    width: 58px;
    border: 0;
    position: relative;
    margin: 2px 2px 2px 2px;
}
.Scene section > section button {
    font-size: smaller;
}