<script id="tmpl-MainView" type="text/html">
	<div class="MainView">
		<header>
			<h1>Home</h1>
		</header>

		<div class="container">
			<div class="MainView-content"></div>
		</div>

		<footer>
			<nav>
				<ul>
					<li><a href="#"><i class="fa fa-home fa-2x"></i><br />Home</a></li>
					<li><a href="#"><i class="fa fa-music fa-2x"></i><br />Musique</a></li>
					<li><a href="#"><i class="fa fa-video-camera fa-2x"></i><br />TV</a></li>
				</ul>
			</nav>
		</footer>
	</div>
</script>
