<script id="tmpl-Scene" type="text/html">
  <div class="Scene">
    {{#each ScenesList}}
    <section>
      <button class="groupActivator" id="{{getName this}}"><i class="fa {{getIcon this}} fa-4x"></i><span>{{getName this}}</span></button>
      <section>
        {{#each devices}}
        <button id="{{getName this}}"><i class="fa {{getIcon this}} fa-2x"></i><span>{{getName this}}</span></button>
        {{/each}}
      </section>
      <div class="clearfix"></div>
    </section>
    {{/each}}
    <div class="clearfix"></div>
  </div>
</script>
