<script id="tmpl-Scene" type="text/html">
  <div class="Scene">
    {{#each ScenesList}}
    <section>
      <button class="groupActivator" id="{{name}}"><i class="fa fa-cutlery fa-4x"></i><span>{{name}}</span></button>
      <section>
        {{#each devices}}
        <button id="{{name}}"><i class="fa fa-lightbulb-o fa-2x"></i><span>{{name}}</span></button>
        {{/each}}
      </section>
      <div class="clearfix"></div>
    </section>
    {{/each}}
  </div>
</script>
